[submodule "third_party/antlr"]
	path = third_party/antlr
	url = https://github.com/solidity-parser/antlr.git
[submodule "third_party/tree-sitter-solidity"]
	path = third_party/tree-sitter-solidity
	url = https://github.com/JoranHonig/tree-sitter-solidity.git
